#Ignore MAVEN settings
target/

#Ignore IDEA settings
*.iml
*/*.iml
.idea/

#Ignore ECLIPSE settings
.metadata/
.settings/
.project
.classpath
Servers/
bin/
*/.metadata/
*/.settings/
*/.project
*/.classpath

#Ignore Aston structure
apache-tomcat/

# Ignore node, bower, generated structure
node/
node_modules/
war/bower_components/
bower_components/
war/dist/
*/.tmp
*.log
overlays
war/WEB-INF/xlsx/OM*.xlsx
